@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Courier+Prime:wght@400;700&display=swap&family=Kode+Mono');

@plugin "@tailwindcss/forms";

@theme {
  --color-brand: #35d4e2;
  --color-language: oklch(0.2768 0 0);

  --color-accent-50: oklch(84.346% 0.0452 201.723);
  --color-accent-100: oklch(74.071% 0.09035 202.779);
  --color-accent-150: oklch(72.121% 0.12141 205.936);
  --color-accent-200: oklch(66.328% 0.09509 204.154);
  --color-accent-300: oklch(0.527 0.088 205);

  --color-foreground: #282828;
  --color-foreground-50: oklch(30.919% 0.00004 271.152);
  --color-foreground-150: oklch(30.919% 0.00004 271.152);
  --color-foreground-100: oklch(0.3562 0 0);
  --color-foreground-200: oklch(74.763% 0.00008 271.152);

  --color-background: oklch(94.007% 0.00011 271.152);
  --color-background-50: oklch(90.67% 0.0001 271.152);
  --color-background-100: oklch(90.67% 0.0001 271.152);
  --color-background-150: oklch(92.191% 0.0001 271.152);
  --color-background-300: oklch(94.007% 0.00011 271.152);

  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);

  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
  --font-mono: 'Courier Prime', ui-monospace, monospace;
  --font-mono-xtra: 'Kode Mono', ui-monospace, monospace;
}

@custom-variant dark (&:where(.dark, .dark *));

html.dark {
  --color-brand: oklch(0.527 0.088 205);
  --color-language: #f5f5f5;

  --color-background: hsl(0, 0%, 16%);
  --color-background-50: oklch(30.919% 0.00004 271.152);
  --color-background-150: oklch(30.919% 0.00004 271.152);
  --color-background-100: oklch(0.3562 0 0);
  --color-background-200: oklch(74.763% 0.00008 271.152);

  --color-foreground: oklch(94.007% 0.00011 271.152);
  --color-foreground-50: oklch(94.007% 0.00011 271.152);
  --color-foreground-100: oklch(87.917% 0.0001 271.152);
  --color-foreground-300: oklch(74.443% 0.00008 271.152);
}

* {
  font-family: var(--font-sans);
}

html,
body,
#app {
  height: 100%;
  margin: 0;
}
#app {
  min-height: 100svh;
  width: 100%;
  max-width: none;
  padding: 0;
  display: block;
}

/* keep your link styles */
a {
  font-family: var(--font-mono);
  text-decoration: none;
  color: var(--color-gray);
  transition: 0.4s;
  padding: 3px;
}

/* desktop overrides */
@media (min-width: 1024px) {
  body {
    display: block;
    place-items: initial;
  }
}
